@font-face{
    font-family: "Albertus";
    src: url(albr55w.ttf);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    /* div {border: thin line black;}
    *{box-sizing: border-box} */

.words{
    width: 65%;
    float: left;
    padding: 15px;
      
}
.picture{
    width: 35%;
    float: left;
    padding: 10px;
    background-color: #fffdd0;
}
.footer{
    padding: 10px;
}

#History{
    border: 4px solid magenta;
    font-family: 'Albertus';
    color: black;
    padding:10px;
    width: 65%;
    background-color: #fffdd0;    
}
#HistoryTitle{
    font-family: 'Albertus';
    color: black;
}